@page "/"

@using Microsoft.AspNetCore.Components.Web;

<h1>WRITTEN NUMBER CLASSIFIER</h1>

<svg style="border:1px solid black" width="@CanvasWidth" height="@CanvasHeight" @onmousedown="@OnMouseDown" @onmousemove="@Mouse_Move" @onmouseup="@OnMouseUp">
    <polyline fill="none" stroke="#0074d9" points="@PointString"
        stroke-width="4" />
</svg>
<button @onclick="@ClearDrawing">
    Clear
</button>
<button>
    Erasor
</button>
<button>
    Guess
</button>

@code {
    public string PointString;
    public double CanvasWidth;
    public double CanvasHeight;
    private bool pressed;
    protected string prevCoordinates { get; set; }
    protected string Coordinates { get; set; }

    protected override void OnInitialized()
    {
        PointString = "";
        CanvasWidth = 500;
        CanvasHeight = 500;
        pressed = false;
    }
    protected void OnMouseDown(MouseEventArgs e)
    {
        prevCoordinates = $",{e.ClientY - 162} {e.ClientX}";
        if(String.IsNullOrEmpty(PointString)){
            PointString = PointString + $"{e.ClientY - 162}";
        }
        PointString = PointString + prevCoordinates;
        pressed = true;
    }
    protected void OnMouseUp(MouseEventArgs e)
    {
        pressed = false;
    }
    protected void Mouse_Move(MouseEventArgs e)
    {
        if(!pressed)return;
        Coordinates = $",{e.ClientY - 162} {e.ClientX}";
        PointString = PointString + Coordinates;
        prevCoordinates = Coordinates;
    }
    protected void Add_Point(MouseEventArgs e)
    {
        PointString = PointString + $",{e.ClientY} {e.ClientX}";
    }

    protected void ClearDrawing(MouseEventArgs e)
    {
        PointString = "";
    }
}
