@page "/"
@inject IJSRuntime jsRuntime
@using Microsoft.AspNetCore.Components.Web;

<h1>WRITTEN NUMBER CLASSIFIER</h1>
<div class="content">
    <div class="canvas">
        <svg id="mainSvg" class="svg" width="@CanvasWidth" height="@CanvasHeight"
            @onmousedown="@OnMouseDown" @onmousemove="@Mouse_Move" @onmouseup="@OnMouseUp">
            @if(polylinesHistoric.Capacity > 0){
                @foreach (var polyline in polylinesHistoric)
                {
                    @polyline
                }
            }
            @polylineCurrent
        </svg>
        <div style="display:flex;flex-direction:row;margin:1em">
            <button @onclick="@ClearDrawing" class="button">
                Clear
            </button>
            <button class="button">
                Erasor
            </button>
            <button class="button">
                Guess
            </button>
        </div>
    </div>
</div>

@code {
    public string PointString;
    public double CanvasWidth;
    public double CanvasHeight;
    private bool pressed;
    private string Y;
    private string X;

    private List<RenderFragment> polylinesHistoric = new List<RenderFragment>();
    private RenderFragment polylineCurrent;

    protected override void OnInitialized()
    {
        PointString = "";
        CanvasWidth = 500;
        CanvasHeight = 500;
        pressed = false;
    }
    protected async void OnMouseDown(MouseEventArgs e)
    {
        await SetCoordinates(e);
        PointString = X;
        pressed = true;

        polylineCurrent = CreateComponent();
    }
    protected void OnMouseUp(MouseEventArgs e)
    {
        pressed = false;
        polylinesHistoric.Add(CreateComponentStatic(PointString));
    }
    protected void Mouse_Move(MouseEventArgs e)
    {
        if(!pressed)return;
        SetCoordinates(e);
        PointString = PointString + "," + Y + " " + X;
    }

    protected async Task SetCoordinates(MouseEventArgs e)
    {
        var Coordinates = await jsRuntime.InvokeAsync<string>("accessDOMElement", e);
        X = Coordinates.Split(" ")[0];
        Y = Coordinates.Split(" ")[1];
    }

    protected void ClearDrawing(MouseEventArgs e)
    {
        PointString = "";
    }
     private RenderFragment CreateComponent() => builder =>
    {
        builder.OpenElement(1, "polyline");
        builder.AddAttribute(2, "points", PointString);
        builder.AddAttribute(3, "fill", "none");
        builder.AddAttribute(4, "stroke-width", "4");
        builder.AddAttribute(5, "stroke", "black");
        builder.CloseElement();
    };

     private RenderFragment CreateComponentStatic(string points) => builder =>
    {
        builder.OpenElement(1, "polyline");
        builder.AddAttribute(2, "points", points);
        builder.AddAttribute(3, "fill", "none");
        builder.AddAttribute(4, "stroke-width", "4");
        builder.AddAttribute(5, "stroke", "black");
        builder.CloseElement();
    };
}
